@model ATP.Models.Paysheet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Paysheet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chit_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chit_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TruckLic_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TruckLic_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_of_delivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_of_delivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
